* {
  margin: 0;
  padding: 0;
}
html {
  background-color: #ececec;
  font-family: Calibri;
}

/* HEADER */
.header-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.2rem;
}
#note-container-header {
  background-color: rgb(255, 164, 27);
  color: white;
  height: 90px;
  display: flex;
  justify-content: space-evenly;
}

/* SingleNot */
#header {
  margin-top: 2px;
  padding-left: 5px;
  font-size: 2rem;
  color: #303030;
  width: 95%;
}
#content {
  padding-left: 5px;
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 1.5rem;
  color: #5a5a5a;
}

/* Add new Button */
.btn-container {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 20px;
}
.add-btn {
  border: none;
  background-color: rgb(255, 164, 27);
  color: white;
  font-size: 4rem;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  cursor: pointer;
}

/* Inputs */
.inputField {
  border: none;
  width: 100%;
}
.input {
  height: 45px;
  border-bottom: 1px solid gray;
}
.input:focus {
  outline: none;
}
.inputfield,
textarea {
  margin-top: 10px;
  resize: none;
  outline: none;
  font-size: 1.4rem;
}

/* Modal içindeki Note Paneli */
.note {
  width: 40%;
  height: 390px;
  border-radius: 5px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 200px;
  padding: 5px;
  background-color: #ffffff;
}

/* Modal gölge  */
.modal {
  background-color: rgba(80, 80, 80, 0.486);
  z-index: 99;
  position: absolute;
  display: none;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

/* Modal buton konteyner */
.addbtnModalContainer {
  display: flex;
  justify-content: end;
  align-items: center;
}

/* Modal Butonlar */
.createNoteModalButton {
  width: 100px;
  height: 50px;
  font-size: 1.3rem;
  border: none;
  border-radius: 4px;
  background-color: rgb(48, 179, 48);
  color: white;
  margin-top: 10px;
  cursor: pointer;
}

#modalCancelButton {
  background-color: rgba(253, 100, 100, 0);
  width: 100px;
  height: 50px;
  font-size: 1.3rem;
  border: none;
  border-radius: 4px;
  border: 1px solid rgb(253, 100, 100);
  color: rgb(253, 100, 100);
  margin-top: 10px;
  margin-left: 15px;
  cursor: pointer;
}

.modalAddChecklistButton {
  background-color: rgb(0, 127, 201);
  width: 100px;
  height: 20px;
  font-size: 1.1rem;
  border: 1px solid rgb(1, 100, 158);
  border-radius: 4px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

/* NOT RENDER KONTEYNER */
#note-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* TEK BİR NOT NESNESİ  */
.SinNote {
  background-color: rgb(255, 255, 255);
  width: 90%;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  margin-top: 25px;
  word-wrap: break-word;
}
.dateContainer {
  justify-content: end;
  display: flex;
}

#deleteBtnContainer {
  display: flex;
  justify-content: end;
}

#deleteBtn {
  background-color: rgb(253, 100, 100);
  color: white;
  border: none;
  outline: none;
  border-radius: 8px;
  width: 10%;
  align-self: center;
  height: 30px;
  font-size: 1.2rem;
  padding: 5px;
  cursor: pointer;
}

/* TÜM UYGULAMANIN RENDER KONTEYNER */
#app {
  position: sticky;
  top: 0;
}

/* Checklist Ekleme Modal ve Alanları */
.checkListField {
  width: 100%;
  height: 100px;
  overflow: auto;
}

.checkAdderModal {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #ffffff;
  width: 30%;
  height: 120px;
  border-radius: 5px;
}
/* Modal gölge  */
.checkListAdderModal {
  background-color: rgba(80, 80, 80, 0.486);
  z-index: 100;
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.checkAdderModalInput {
  outline: none;
  color: #5a5a5a;
  text-indent: 0.2rem;
  width: 99%;
  margin-top: 15px;
  height: 1.2rem;
  font-size: 1.2rem;
  border: none;
  border-bottom: 1px solid gray;
}
.checklistModalAddButton {
  border: none;
  background-color: rgb(48, 179, 48);
  color: #ffffff;
  width: 80px;
  height: 30px;
  margin-right: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.checklistModalCancelButton {
  border: 1px solid rgb(253, 100, 100);
  color: rgb(253, 100, 100);
  width: 80px;
  height: 30px;
  border-radius: 5px;
  margin-right: 5px;
  cursor: pointer;
}
.checklistModalButtonContainer {
  justify-content: end;
  display: flex;
  margin-top: 15px;
}
.checkAdderModal,
h2 {
  padding: 5px;
  font-weight: 500;
}
input[type="checkbox"] {
  accent-color: rgb(0, 165, 0);
  margin-top: 5px;
  margin-left: 5px;
}
